$couleurDeFond: #FFFFFF;
$couleurBasique: #000000;
$couleurTitre: #FFFFFF;

$fondFonce: #3F84FF;
$fondClair: #79AAFF;
$fondFonce2: #20478E;
$grisClair: #D1D7DC;

$messageColor: #0EFF00;
$warningColor: #FF9A00;