//=========================================================
//=========================================================
//=  Les variables
//=========================================================
//=========================================================
$titleHeight: 6vh;  					// Taille mini pour titre
$topHeight: $titleHeight;   			// Taille d'un top de page
$mainHeight: 100vh - $topHeight;    	// Taille de l'emplacement principal
$buttonSize: $titleHeight;
$rounding: 15px;

$fontTitle: 1.6rem;
$fontNormal: 1.3rem;